[Unit]
Description=ScaleCart Backend Container
After=docker.service
Requires=docker.service

[Service]
Restart=always
ExecStart=/usr/bin/docker start -a scalecart-backend
ExecStop=/usr/bin/docker stop -t 10 scalecart-backend

[Install]
WantedBy=multi-user.target
